<section class="d-flex justify-content-center align-items-center">
<div class="row g-0 shadow rounded overflow-hidden  w-100 align-items-center">
<div class="col-lg-8">

  <div class="image"></div>
</div>
<div class="col-lg-4">
  <form class="p-4">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput  placeholder="Ex. pat@example.com">

        <mat-error>Email is <strong>required</strong></mat-error>

    </mat-form-field>
  </form>


</div>

</div>

</section>
