<nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
  <div class="container">
    <h2 class="navbar-brand">Note</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{menueName}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item" routerLink="/register">Register</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
