<header class="py-4">
  <div class="hstack justify-content-end">

    <button (click)="openDialog()" mat-raised-button color="primary">Add Note</button>
  </div>
</header>


<section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  <div class="col" *ngFor="let note of nots">
    <div class="card h-100 shadow">
      <div class="card-body text-center">
        <h3 class="h5">{{note.title}}</h3>
        <p class="small text-muted">{{note.desc}}</p>
      </div>
        </div>
  </div>
</section>